.header__logo {
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-size: 1.25em;
  line-height: 24px;
  color: #FFF;
}

.header__logo_black {
  color: #1A1B22;
}



@media screen and (max-width: 445px) {
  .header__logo_top {
    margin-left: 20px;
    margin-top: 0px;
  }
}