.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 104px;
}

@media screen and (max-width: 635px) {
  .header__container {
    margin: 0 50px;
  }
}

