.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 104px;
}

@media screen and (max-width: 760px) {
  .header__container {
    margin: 0 80px;
  }
}

@media screen and (max-width: 635px) {
  .header__container {
    margin: 0 30px;
  }
}

@media screen and (max-width: 445px) {
  .header__container {
    display: none;
  }
}