.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 104px;
  margin-right: 106px;
}

@media screen and (max-width: 720px) {
  .footer__container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 440px) {
  .footer__container {
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
  }
}


