.menu__button_exit {
  border: 1px solid #fff;
  width: 100%;
  padding: 10px 15px;
  border-radius: 100px;
}

.menu__button_exit-pic {
  border: none;
  width: 17.41px;
  height: 16px;
  margin-left: 6px;
  margin-top: 3px;

}

.menu__button_exit_black {
  border: 1px solid black;
}


.menu__button_exit-pic_black {
  filter: invert(1);
}

.menu__button_exit-mobile {
  margin: 10px 50px 0 100px;
}