.search__button {
  top: 0;
  left: calc(100% - 168px);
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border: 1px solid #e6e8eb;
  border-radius: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 168px;
  height: 64px;
  color: #b6bcbf;
  background: #e6e8eb;
}