@import url(./__date/article__date.css);
@import url(./__bookmark/article__bookmark.css);
@import url(./__image-container/article__image-container.css);
@import url(./__pic/article__pic.css);
@import url(./__source/article__source.css);
@import url(./__text/article__text.css);
@import url(./__title/article__title.css);
@import url(./__addition/article__addition.css);
@import url(./__list/article__list.css);

.article {
  position: relative;
  width: auto;
  background-color: #FFF;
  border-radius: 15px;
  border: 1px solid #FFF;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
}

.article__loggedin {
  border: none;
}


@media screen and (max-width: 620px) {
  .article {
    
    margin: auto;
  }
}

.search-results {
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
    padding: 40px 0 64px 80px;
    text-align: left;
}
/* 
.search-results_hidden {
  display: none;
} */