.loading__search-results {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  text-align: left;
  margin-left: 104px;
}

@media screen and (max-width: 500px) {
  .loading__search-results {
    font-size: 30px;
    line-height: 34px;
    margin-left: 3%;
  }
}