.menu__link {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFF;
  margin: auto;
  
}

.link {
  white-space: nowrap;
}

.menu__link_articles {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFF;
}

.menu__link_exit {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #FFF;
}

.menu__link_black {
  color: black;
}

.menu__link_articles-loggedin {
  display: block;
  color: black;
  margin: auto;
}

.menu__link_black-border {
  color: black;
  border: 1px solid black;
  border-radius: 100px;
}

@media screen and (max-width: 460px) {
  .menu__link {
    display: none;
  }
}

