.top__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.top__text_bold {
  font-weight: bold;
}

.top__text_hidden {
  display: none;
}