@import url(_auth/menu__button_auth.css);
@import url(_saved-articles/menu__button_saved-articles.css);
@import url(./_exit/menu__button_exit.css);
@import url(./_addition/menu__button_addition.css);

.menu__button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 10%;
  position: relative;
  display: flex;
  align-items: center;
}

.menu__button_active-loggedin:after {
  /* border-bottom: 3px solid black; */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: black;
}

.menu__button_active-main {
  border-bottom: 3px solid white;
}

@media screen and (max-width: 635px) {
  .menu__button {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 445px) {
  .menu__button {
    display: none;
  }
}
