@import url(_auth/menu__button_auth.css);
@import url(_saved-articles/menu__button_saved-articles.css);

.menu__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFF;
}